---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style lang="css">
      main {
        width: calc(100% - 2em);
        max-width: 100%;
        margin: auto;
      }
      .hero-image {
        width: 100%;
      }
      .hero-image img {
        display: block;
        margin: 0 auto;
      }
      .title {
        margin-top: 1em;
        text-align: center;
        line-height: 1;
        font-weight: bolder;
      }
      .title h1 {
        margin: 0 0 0.5em 0;
      }
      .date {
        margin-bottom: 0.5em;
        color: rgb(var(--gray));
      }
      .last-updated-on {
        font-style: italic;
      }
      .bg-box {
        background-color: rgba(25, 25, 25, 0.45);
        padding: 3em;
        border-radius: 12px;
        --tw-ring-color: rgb(63 63 70);
        box-shadow: var(--tw-ring-inset) 0 0 0
          calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <article>
        <div class="hero-image shadow-2xl rounded-t-lg">
          {
            heroImage && (
              <img width={1020} height={510} src={heroImage} alt="" />
            )
          }
        </div>
        <div
          class="max-w-5xl mx-auto border border-zinc-700 rounded-b-lg bg-zinc-500 bg-opacity-10 backdrop-blur-sm"
        >
          <section class="title">
            <div class="date">
              <FormattedDate date={pubDate} />
              {
                updatedDate && (
                  <div class="last-updated-on">
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
            </div>
            <h1 class="text-xl md:text-2xl">{title}</h1>
          </section>
          <hr class="my-12" />
          <section class="px-8 max-w-2xl mx-auto pb-24">
            <slot />
          </section>
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
